/* reset styles
--------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}

ol, ul {
	list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
	  border-collapse: collapse;
	  border-spacing: 0;
}
/*-------------------------------------------*/

html {
    background: #dedede url(/images/debut_light.png) repeat 0 0;
    color: #444;
    -webkit-font-smoothing: antialiased !important;
}

body {
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    margin: 0;
    padding: 0;
    font-size: 1.0em;
}

a {
    color: #fff;
	text-decoration: none;
}

a:visited {
	color: #fff;
}

ol, ul {
	list-style: none;
}

.clearfix:after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

.section-break {
    height: 70px;
}

.content-break {
    height: 20px;
}

.shadow {
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
}

#header, #main, #footer {
    margin: 0 auto;
    width: 980px;
}    

input[type=text] {
    font-family: "wf_SegoeUILight","wf_SegoeUI","Segoe UI Light","Segoe WP Light","Segoe UI","Segoe","Segoe WP","Tahoma","Verdana","Arial","sans-serif";
    background: #fff;
    font-size: 1.2em;
    color: #000;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 6px;
}

input[type=submit] {
    font-family: 'Segoe UI Light';
    font-size: 1.3em;
    color: #fff;
    border: none;
    cursor: pointer;
    border: 0;
    //padding: 15px 30px 20px 30px;
    border-radius: 6px;
}

    input[type=submit]:hover {
        opacity: 0.4;
    }
    
    input[type=submit]:active {
        opacity: 0.7;
    }   

.panel {
    background:  rgba(255, 255, 255, 0.77);
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    //border: 1px solid #ddd;
}



/*-- SIDE BAR -----------------------------*/   
#sidebar {
    position: fixed;
    //width: 210px;
    height: 100%;
    min-height: 500px;
    //box-shadow: 0 0 6px rgba(0, 0, 0, .3);
    //background: rgba(255, 255, 255, 0.8);
    //border-radius: 6px;
}

.sidebar-inner .logo {
    width: 210px;
    background: rgba(129, 6, 153, 1); //#810699;
    z-index: 99;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: rgba(58, 3, 69, 0.4); //#4B0459;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.sidebar-inner .logo a {
    font-size: 2.0em;
    color: #fff;
    line-height: 1;
    position: relative;
    text-align: center;
    padding: 27px 0;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
    display: block;
}

.sidebar-inner .logo:hover {
    opacity: 0.8;
}

.sidebar-inner .menu {
    width: 150px;
    margin: 0 auto;
    background: rgba( 14, 3, 19, 0.75);
    padding: 5px 20px 30px;
    text-align: center;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-color: rgba(58, 3, 69, 0.6);
    //display: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

#nav {
}

    #nav li {
        border-bottom: 1px solid #7B6187;
    }

        #nav li a {
            display: block;
            padding: 10px 0;
            width: 100%;
            font-size: 1.2em;
        }

        #nav li a:hover {
            text-shadow: 0px 0px 5px rgba(200, 200, 200, 0.7);
            //background: rgba(255, 255, 255, 0.1);
        }

.sfooter {
    position: absolute;
    bottom: 0;
    height: 69px;
    width: 210px;
    background: rgba(129, 6, 153, 1);
    border-right: 1px solid;
    border-top: 1px solid;
    border-left: 1px solid;
    border-color: rgba(58, 3, 69, 0.4); //#4B0459;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.prof-container {
    //position: relative;
    margin: 10px auto;
    width: 180px;
}

.prof-name {
    float: left;
    margin: 15px 0 0 10px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
}

.prof-name a {
    font-size: 0.8em;
}

.prof-pic {
    width: 50px;
    height: 50px;
    background: #000;
    float: left;
    border-radius: 6px;
    border: 1px solid #575757;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

/*-- footer -------------------
#footer {
    margin: 30px auto 0 auto;
    color: #fff;
}

.footer-inner {
    padding: 30px;
    background: rgba( 210, 210, 210, 0.7);
    //border-right: 1px solid #999;
    //border-top: 2px solid rgba( 55, 55, 55, 0.1);
    //border-left: 1px solid #999;
    height: 80px;
    //box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}
    */
/*-- main --------------------*/
#main {
    position: relative;
}

.main-inner {
    width: 980px;
}

.main-content {
    position: relative;
    left: 210px;
    width: 740px;
    margin: 0 0 0 30px;
}

/* page message box
================================================ */
#page-message {
    position: relative;
}

    #page-message .inner {
        background: rgba(0, 0, 0, 0.08);
        text-align: center;
        height: 86px;
        max-width: 864px;
        margin: 0 auto;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        //box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    }

        #page-message .inner p {
            font-size: 1.6em;
            //font-weight: bold;
            padding: 26px 0;
        }

/*-- HOME PAGE ------------------------*/
    .main-content .search {
        box-shadow: 0 0 6px rgba(0, 0, 0, .3);
        border-radius: 6px;
        height: 45px;
        width: 740px;
    }
    
    .main-content .search input[type=text] {
        padding: 0 0 0 33px;
        height: 45px;
        background-repeat: no-repeat;
        background-position: 10px 50%;
        background-image: url(/images/icon_search.png);
        width: 607px;
        border: 0;
        //box-shadow: 0 0 6px rgba(0, 0, 0, .3);
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        float: left;
        outline: none;
    }    

    .main-content .search input[type=submit] {
        background: #810699;
        line-height: 1;
        width: 100px;
        height: 45px;
        //padding: 0 30px;
        border: 0;
        //box-shadow: 0 0 6px rgba(0, 0, 0, .3);
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        border-top: 1px solid;
        border-right: 1px solid;
        border-bottom: 1px solid;
        border-color: rgba(58, 3, 69, 0.4);
    }

.destination-master {
    padding: 20px 50px 50px;
}

.subheader {
    border-bottom: 2px solid #ddd;
}

    .subheader h1 {
        font-size: 1.1em;
        line-height: 2.2;
    }

.destination-list {
    //margin: 10px 0 0 0;
}

    .destination-list .destination-item {
        border-bottom: 1px solid #dedede;
        //padding: 5px 0;
    }

    .destination-list .destination-item div {
        float: left;
        display: inline;
        padding: 10px;
    }

    .destination-list .destination-item .see-details {
        float: right;
        padding: 0;
        margin: 18px 10px 0 0;
    }

.see-details input[type=submit], .see-details a {
    line-height: 1.5;
    font-size: 1.3em;
    padding: 2px 11px 6px 13px;
    background: #810699;
    border: 1px solid rgba(58, 3, 69, 0.4);
    border-radius: 6px;
    display: block;
}


.meta-info {
    text-align: center;
    //background: yellow;
}

    .meta-info p {
        font-size: 1.3em;
    }

    .meta-info label, .summary label {
        font-size: 0.8em;
        //font-family: 'Segoe UI';
    }

.destination-item {
    padding: 10px 0;
}

.destination-item .committed {
    //background: rgba(0, 0, 0, 0.1);
    color: #000;
    width: 75px;
}

.destination-item .price {
    color: #12B000;
    width: 25px;
}

.destination-item .time-left {
    color: #BA0000;
    width: 60px;
}

.destination-item div.summary {
    padding: 0;
}
.destination-item .summary .summary-container {
    margin: 2px 0 0 0;
}

.destination-item .summary label.destination {
    font-size: 1.6em;
    font-weight: bold;
    line-height: 1;
    margin: 0 3px 0 0;
}

.destination-item .summary label.origin {
    font-size: 1.0em;
    line-height: 1;
    color: #888;
}

.destination-item .summary p.trip-date {
    margin: 6px 0 0 0;
    font-size: 0.8em;
    line-height: 1;
}


/*-- SUGGEST --------------------------------------*/
.suggest-content {
   background: rgba(0, 0, 0, 0.08);
   border-radius: 6px;
   position: relative;
   padding: 20px 40px 30px;
   //box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.suggest-item {
    border-bottom: 1px solid #ccc;
    padding: 30px;
    //background: rgba(0, 0, 0, 0.1);
}

    .suggest-item div {
        float: left;
    }

    .suggest-item input[type=text] {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
        width: 420px;
        position: relative;
        outline: none;
    }

    .suggest-item input[type=text]:focus {
        border: 1px solid #810699;
    }

    .suggest-item .suggest-label {
        width: 125px;
        margin: 0 25px 0 0;
    }

    .suggest-item .suggest-form {
        width: 450px;
    }

.suggest-label label {
    text-align: right;
    margin: 15px 0 0 0;
    display: block;
    line-height: 1;
    font-size: 1.4em;
    font-family: 'Segoe UI';
    //font-weight: bold;
}

.suggest-form p {
    color: #777;
    font-size: 0.9em;
    font-family: 'Segoe UI';
    margin: 5px 0 0 5px;
}

.suggest-action {
    margin: 30px 0 0 0;
    text-align: right;
}

    .suggest-action input[type=submit] {
        padding: 10px 50px 15px;
        background: #810699;
        border: 1px solid rgba(58, 3, 69, 0.4);    
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }

/*-- TRIP DETAILS------------------*/
.trip-map {
    //width: 740px;
    //height: 400px;
    //background: green;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    border-radius: 6px;
}

.trip-summary .panel {
    //height: 300px;
    padding: 40px;
}

.trip-details, .trip-action {
    float: left;
    display: inline;
    //height: 200px;
}

.trip-details {
    width: 480px;
}

    .trip-details ul {
        margin: 20px 0 20px 30px;
    }

.detail-container {
    margin: 0 0 20px 0;
}

    .detail-container span {
        font-size: 1.8em;
    }
    
    .detail-container p {
        border-top: 1px solid #ccc;
        color: #aaa;
        font-family: 'Segoe UI';
        width: 300px;
    }

.trip-action {
    width: 180px;
    background: rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}

.action-container {
    padding: 20px 20px;
}

    .action-container input[type=submit] {
        margin: 0 auto;
        display: block;
        padding: 10px 34px 15px;
        background: #810699;
        border: 1px solid rgba(58, 3, 69, 0.4);    
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
    }

    .action-container div.meta {
        margin:  0 0 10px 0;
        text-align: center;
        border-bottom: 1px solid #bcbcbc;
        padding: 0 0 10px 0;
    }
    
        .action-container div.meta:last-child  {
            border-bottom: 0;
            background: blue;
        }
        .action-container div.meta:first-child span {
            font-size: 2.5em;
        }

        .action-container .meta span {
            font-size: 1.4em;
        }







/* UNUSED CODE
    
    -- HEADER CSS
   
.header-profile {
	//box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.7);
    background: #ddd url(/images/debut_light.png) repeat 0 0;
    //border-right: 1px solid;
    //border-bottom: 1px solid;
    //border-left: 1px solid;
    //border-color: rgba(58, 3, 69, 0.4);
    //border-bottom-left-radius: 6px;
    //border-bottom-right-radius: 6px;
    height: 30px;
    position: absolute;
    top: 0;
    width: 740px;
    //left: 220px;
    z-index: 99;
    //overflow-y: scroll;
}

.profile-container {
    float: right;
    padding: 3px 10px 0;
    font-size: 1.0em;
    color: #333;
}

.profile-container a:visited {
    color: #333;
}

    
    --HEADER HTML
    
                <div class="header-profile">
                    <div class="profile-container">
                        <div class="prof-name">
                            <a href="index">sQuijew</a>
                        </div>
                    </div>
                </div>
    
    
    */